.ui-widget-header {
    background: $color-light-blue;
    color: $color-white;
}

.ui-widget-content {
    background: $color-white;
    border: 1px solid $color-light-blue;
    color: $color-blue;
}
