h1 {
    @include font-size(35);
    font-family: $stack-1;  
}

fieldset {
    @include font-size(10);
    font-family: $stack-1;  
    color: $color-black;
}

button {
    color: $color-black;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: $color-light-gray;
}
