.o-main-content {
    display: flex;
}

.o-city-widgets {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {  //Mobile
    .o-main-content {
        flex-direction: column;
    }

    .o-city-widgets {
        flex-direction: row;
        min-height: 170px;      
    }
}

@media only screen and (max-width: 800px) {  //Tablet
    .o-main-content {
        flex-direction: column;
    }

    .o-city-widgets {
        flex-direction: row;
        min-height: 170px;      
    }
}

@media only screen and (min-width: 1000px) { //Web
    .o-main-content {
        flex-direction: row;
    }

    .o-city-widgets {
        flex: 1;
        justify-content: space-around;
    }

    .o-cities-management {
        min-width: 260px;
        max-width: 410px;
    }
}

.o-weather-details {
    flex: 3;


    @media only screen and (max-width: 600px) {  //Mobile
        min-width: 500px;
        margin-top: 20px;
    }

    @media only screen and (min-width: 800px) { //Tablet
        min-width: 470px;
        margin-left: 20px;
    }  

    @media only screen and (min-width: 1000px) { //Web
        min-width: 630px;
        margin-left: 20px;
    }  
}

.o-weather-details-units {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
