.o-main-content {
    display: flex;
}

.o-city-widgets {
    display: flex;
    flex-wrap: wrap;
}

@include mq($until: mobile) {
    .o-main-content {
        flex-direction: column;
    }

    .o-city-widgets {
        flex-direction: row;
        min-height: 170px;      
    }
}

@include mq($from: mobile, $until: desktop) {
    .o-main-content {
        flex-direction: column;
    }

    .o-city-widgets {
        flex-direction: row;
        min-height: 170px;      
    }
}

@include mq($from: desktop) {
    .o-main-content {
        flex-direction: row;
    }

    .o-city-widgets {
        flex: 1;
        justify-content: space-around;
    }

    .o-cities-management {
        min-width: 260px;
        max-width: 410px;
    }
}

.o-weather-details {
    flex: 3;

    @include mq($until: mobile) {
        margin-top: 10px;
    }

    @include mq($from: mobile, $until: desktop) {
        margin-top: 10px;
    }  

    @include mq($from: desktop) {
        margin-left: 10px;
    }  
}

.o-weather-details-units {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
