.g-main-content {
    display: flex;
}

.g-city-widgets {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

@media only screen and (max-width: 768px) {  //Mobile
    .g-main-content {
        flex-direction: column;
    }

    .g-city-widgets {
        flex-direction: row;
        //justify-content: space-around;
        min-height: 240px;      
    }
}

@media only screen and (min-width: 768px) { //Web
    .g-main-content {
        flex-direction: row;
    }

    .g-city-widgets {
        flex: 1;
        justify-content: space-around;
    }

    .g-cities-management {
        min-width: 260px;
        max-width: 410px;
    }
}

.g-weather-details {
    flex: 3;
    min-width: 500px;
    background-color: yellow;
}