$color-white: #ffffff;
$color-light-gray: #e0e0e0;
$color-dark-grey: #999999;
$color-black: #000000;

$color-red: #ff0000;
$color-green: #00FF00;
$color-dark-green: #006400;
$color-blue: #0000FF;
$color-light-blue: #5590D4;
$color-dark-blue: #000055;

$color-yellow: #FFFF00;
$color-purple: #A020F0;
$color-orange: #EE7600;
