.g-main-content {
  display: flex;
  height: 100%; }

.g-city-widgets {
  display: flex;
  background-color: DodgerBlue; }

@media only screen and (max-width: 768px) {
  .g-main-content {
    flex-direction: column; }

  .g-city-widgets {
    flex-direction: row;
    min-height: 240px;
    max-height: 220px;
    overflow-x: auto; } }
@media only screen and (min-width: 768px) {
  .g-main-content {
    flex-direction: row; }

  .g-city-widgets {
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scoll;
    flex: 1; }

  .g-cities-management {
    height: 100%;
    min-width: 260px;
    max-width: 410px; } }
.g-weather-details {
  flex: 3;
  min-width: 500px;
  background-color: yellow; }

h1 {
  font-family: "Arial", serif;
  font-weight: bold;
  font-size: 40px;
  color: blue; }

h1 {
  font-family: "arial";
  font-size: 50px;
  color: #ff0000; }

table {
  width: 80%;
  margin: auto; }
  table th,
  table td {
    border: 1px solid #999999;
    border-color: #FF0000; }
  table th {
    text-align: center; }
  table td {
    text-align: left; }

button {
  background-color: yellow;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 18px; }
