h1 {
  font-size: 3.5rem;
  font-family: arial, helvetica, sans-serif;
  color: #0000FF; }

fieldset {
  color: #0000FF; }

button {
  color: #000000;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: .4s;
  /* Safari */
  transition-duration: .4s;
  cursor: pointer; }

.ui-widget-header {
  background: #339FFF;
  color: #ffffff; }

.ui-widget-content {
  background: #ffffff;
  border: 1px solid #339FFF;
  color: #0000FF; }

.o-main-content {
  display: flex; }

.o-city-widgets {
  display: flex;
  flex-wrap: wrap; }

@media only screen and (max-width: 768px) {
  .o-main-content {
    flex-direction: column; }

  .o-city-widgets {
    flex-direction: row;
    min-height: 240px; } }
@media only screen and (min-width: 768px) {
  .o-main-content {
    flex-direction: row; }

  .o-city-widgets {
    flex: 1;
    justify-content: space-around; }

  .o-cities-management {
    min-width: 260px;
    max-width: 410px; } }
.o-weather-details {
  flex: 3;
  min-width: 500px; }

.o-weather-details-units {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.c-weather-app-banner {
  background-image: url("../images/weatherbanner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 130px;
  height: 130px;
  padding-left: 10px; }
  .c-weather-app-banner h1 {
    color: #ffffff; }

.c-favourite-cities-button {
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  margin-right: 5px;
  opacity: 90%; }
  .c-favourite-cities-button:hover {
    background-color: #e0e0e0; }

.c-clear-favourite-cities-button {
  background: url("../images/icons/delete.svg");
  background-repeat: no-repeat; }

.c-manage-favourite-cities-button {
  background: url("../images/icons/add.svg");
  background-repeat: no-repeat; }

.c-city-widget {
  margin: 10px;
  text-align: center; }
  .c-city-widget:hover {
    background-color: #e0e0e0; }
  .c-city-widget-selected {
    border-bottom: 10px solid #339FFF; }

@media only screen and (max-width: 768px) {
  .c-city-widget {
    width: 100px;
    min-width: 100px;
    height: 120px; }
    .c-city-widget button {
      width: 100px;
      height: 120px; } }
@media only screen and (min-width: 768px) {
  .c-city-widget {
    width: 100px;
    min-width: 100px;
    height: 200px; }
    .c-city-widget button {
      width: 100px;
      height: 200px; } }
.c-weather-details-banner {
  background: linear-gradient(to right, #000055, #0000FF);
  width: 100%;
  height: 100px; }
  .c-weather-details-banner-city-name {
    padding: 5px;
    float: left;
    color: #ffffff; }
  .c-weather-details-banner-weather-icon, .c-weather-details-banner-weather-temperature {
    float: right; }
  .c-weather-details-banner-weather-icon {
    height: 80px;
    padding: 10px; }
  .c-weather-details-banner-weather-temperature {
    color: #ffffff;
    position: relative;
    float: right;
    top: 70px; }

.c-weather-details-units-temperature {
  background-color: #00FF00;
  width: 300px;
  height: 200px; }

.c-weather-details-units-humidity {
  background-color: #ff0000;
  width: 300px;
  height: 200px; }

.c-weather-details-graph {
  background-color: #A020F0;
  width: 100%;
  height: 200px; }
