.c-city-widget {
    margin: 10px;
    text-align: center;

    &-button {
        background-color: $color-white;
    }

    &:hover {
        background-color: $color-light-gray;
    } 

    &-selected {
        border-bottom: 5px solid $color-dark-blue;
    }

    &-city {
        font-family: $stack-1; 
        color: $color-dark-blue; 
        overflow: hidden;
    }

    &-temperature-cold,
    &-temperature-medium,
    &-temperature-hot {
        font-family: $stack-1;  
    }

    &-temperature-cold {
        color: $color-blue;
    }

    &-temperature-medium {
        color: $color-dark-green;
    }

    &-temperature-hot {
        color: $color-orange;
    } 
}

@include mq($until: mobile) {
    .c-city-widget {
        &-button {
            width: 60px;
            height: 100px;
        }

        &-city {
            @include font-size(7);
        }

        &-weather-icon {
            width: 24px;
            height: 24px;
        }

        &-temperature-cold,
        &-temperature-medium,
        &-temperature-hot {
            @include font-size(7);
        }
    }
}

@include mq($from: mobile, $until: desktop) {
    .c-city-widget {
        &-button {
            width: 75px;
            height: 150px;
        }

        &-city {
            @include font-size(9);
        }

        &-temperature-cold,
        &-temperature-medium,
        &-temperature-hot {
            @include font-size(9);
        }
    }
}

@include mq($from: desktop) {
    .c-city-widget {
        &-button {
            width: 100px;
            height: 200px;
        }

        &-city {
            @include font-size(12);
        }

        &-temperature-cold,
        &-temperature-medium,
        &-temperature-hot {
            @include font-size(12);
        }
    }
}
