
h1 {
    font-family: $text-heading1-font;
    font-size: $text-heading1-size;
    color: $text-heading1;
}

table {
    width: 80%;
    margin: auto;

    th,
    td {
        border: 1px solid $color-dark-grey;
        border-color: $color-red;       
    }

    th {
        text-align: center;
    }

    td {
        text-align: left;
    }
}


