.c-weather-details-banner {
    background: linear-gradient(to right, $color-dark-blue, $color-blue);
    width: 100%; 
    height: 100px;

    &-city-name {
        @include font-size(35);
        font-family: $stack-1;  
        padding: 5px;
        float: left; 
        color: $color-white;
    }

    &-weather-icon,
    &-weather-temperature {
        float: right; 
    }

    &-weather-icon {
        height: 80px; 
        padding: 10px;
    }

    &-weather-temperature {
        @include font-size(16);
        font-family: $stack-1;  
        color: $color-white; 
        position: relative; 
        float: right; 
        top: 70px;
    }  
}

.c-weather-details-temperature {   
    
    &-chart {
        width: 600px; 
        height: 300px;
    }
}

.c-weather-details-humidity {
    
    &-chart {
        width: 600px; 
        height: 300px;
    }
}

.c-weather-details-wind-speed {
    
    &-chart {
        width: 600px; 
        height: 300px;
    }
}


