.c-weather-app-banner {
    background-image: $header-banner-image;
    background-repeat: no-repeat;
    background-size: 100% 130px;
    height: 130px;
    padding-left: 10px;
    margin-bottom: 10px;

    @media only screen and (max-width: 600px) {  //Mobile
        height: 128px;
    }

    @media only screen and (min-width: 800px) { //Tablet
        height: 129px;
    }
    
    @media only screen and (min-width: 1000px) { //Web
        height: 130px;
    }
    

    h1 {     
        color: $color-white;
    }
}
