.c-weather-app-banner {
    background-image: $header-banner-image;
    background-repeat: no-repeat;
    background-size: 100% 130px;
    height: 130px;
    padding-left: 10px;

    h1 {
        color: $color-white;
    }
}