.c-weather-app-banner {
    background-image: $header-banner-image;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin-bottom: 10px;

    h1 {
        color: $color-white;
    }

    @include mq($until: mobile) {
        height: 64px;
        background-size: 100% 64px;

        h1 {
            @include font-size(24);
        }
    }

    @include mq($from: mobile, $until: desktop) {
        height: 96px;
        background-size: 100% 96px;

        h1 {
            @include font-size(26);
        }
    }
    
    @include mq($from: desktop) {
        height: 128px;
        background-size: 100% 128px;

        h1 {
            @include font-size(48);
        }
    }
}
